body{margin:0;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace}

.body__container{text-align:center;margin:10rem}.body__fork-project{color:#4caf4f}

.title__container{text-align:center}.title__text{text-align:center}.title__logo{animation:logo-spin infinite 20s linear}@keyframes logo-spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}

