.title {
  &__container {
    text-align: center;
  }
  &__text {
    text-align: center;
  }
  &__logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
